* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

section {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input:disabled {
  background-color: black;
  color: white;
}